<!DOCTYPE html>
<html lang="zh-tw">
<body class="no-skin">


    @using (Html.BeginForm("OpenCSV", "ImportCSV", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="OK" />
    }

</body>
</html>